/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: rgba(0, 0, 0, 0.758);
  color: #e6e8ea;
  font-family: Arial, sans-serif;
}

/* Accent */
.accent {
  color: #ff7f50;
}

/* Glow Effect */
.glow-card {
  box-shadow: 0 0 0px rgba(37, 37, 236, 0.662);
  transition: 0.3s ease;
}
.glow-card:hover {
  box-shadow: 0 0 15px rgb(239, 27, 27);
}

/* Hover Up Animation */
.hover-up {
  transition: transform 0.3s ease;
}
.hover-up:hover {
  transform: translateY(-8px);
}

/* Scroll Fade Animations */
.fade-in {
  animation: fadeIn 1.5s ease;
}
.fade-up {
  opacity: 0;
  animation: fadeUp 1.4s ease forwards;
  animation-delay: 0.2s;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* HEADER */
.header {
  background: #111417;
  padding: 18px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.nav-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-mark {
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #ff7f50, #ff4411);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: #c9c9c9;
  transition: 0.3s;
}
.nav-links a:hover {
  color: #ff7f50;
}

.nav-action {
  display: flex;
  gap: 15px;
}

/* Buttons */
.btn-primary {
  background: #ff7f50;
  padding: 10px 18px;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}
.btn-primary:hover {
  background: #ff5722;
}

.btn-white {
  background: #fff;
  color: #000;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
}

/* HERO */
.hero-section {
  width: 90%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.hero-title {
  font-size: 55px;
  font-weight: 900;
}

.mini-cards {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.mini-card {
  display: flex;
  gap: 10px;
  background: #171b1f;
  padding: 10px;
  border-radius: 10px;
}

.hero-image img {
  width: 100%;
  border-radius: 20px;
}

/* MENU / RESTAURANTS */
.menu-section {
  margin-top: 80px;
}

.section-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.menu-grid {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.menu-card {
  background: #171b1f;
  padding: 15px;
  border-radius: 15px;
  transition: 0.3s;
}

.menu-img {
  width: 100%;
  border-radius: 12px;
}

/* LOCATIONS */
.location-grid {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.location-card {
  background: #171b1f;
  padding: 15px;
  border-radius: 12px;
}

/* Footer */
.footer {
  margin-top: 80px;
  padding: 30px;
  text-align: center;
  background: #111417;
}
